<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1035120755847-27cjbvd8lrgh393htdnk3t65kajrpntm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035120755847-27cjbvd8lrgh393htdnk3t65kajrpntm</string>
	<key>API_KEY</key>
	<string>AIzaSyCn5Gc4BSl4eJAoZeOV7JjAqQu50EpIcAo</string>
	<key>GCM_SENDER_ID</key>
	<string>1035120755847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.statesafestop</string>
	<key>PROJECT_ID</key>
	<string>state-safe-stop-470ea</string>
	<key>STORAGE_BUCKET</key>
	<string>state-safe-stop-470ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035120755847:ios:5c9ffda0408e9fdd</string>
	<key>DATABASE_URL</key>
	<string>https://state-safe-stop-470ea.firebaseio.com</string>
</dict>
</plist>
